
* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 500;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
}

a {
    color: #666666;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.6;
}

button {
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header content */



.header__container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.header__logo__content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__logo__img {
    width: 80px;
    height: 80px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list a {
    font-size: 18px;
    font-weight: 500;
    color: #18216D;
}

.header__container__button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__container__button-1 {
    font-size: 18px;
    font-weight: 500;
    color: #18216D;
    width: 136px;
    height: 52px;
    border-radius: 6px;
    background-color: #fff;
}

.header__container__button-2 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    width: 136px;
    height: 52px;
    border-radius: 6px;
    background-color: #18216D;
}


/* wellcome content */



.wellcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.wellcome__text__content {
    max-width: 468px;
}

.wellcome__text__content__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #18216D;
    margin-bottom: 16px;
}

.wellcome__text__content__desc {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #18216D;
    margin-bottom: 34px;
}

.wellcome__text__content__button {
    width: 180px;
    height: 66px;
    font-size: 17px;
    font-weight: 500;
    background-color: #00ECD0;
    border-radius: 6px;
}

.wellcome__text__content__button a {
    color: #000;
}


/* users content */


.users .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 121px auto;
}

.users__text__title {
    max-width: 694px;
}

.users__text__title h1 {
    font-size: 36px;
    font-weight: 600;
    color: #18216D;
    line-height: 50px;
}

.users__text__title b {
    color: #005FEC;
}

.users__cart {
    display: flex;
    gap: 150px;
}

.cart__text__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 10px;
}

.heart {
    gap: 5px;
    margin-bottom: 12px;
}

.cart__text__desc {
    font-size: 16px;
    font-weight: 400;
    color: #18216D;
}


/* service content */


.service .container {
    text-align: center;
    margin: 150px auto;
}

.service__text {
    max-width: 542px;
    margin: 0 auto;
}

.service__text__title {
    font-size: 48px;
    font-weight: 600;
    color: #18216D;
    margin-bottom: 12px;
}

.service__text__desc {
    font-size: 16px;
    font-weight: 400;
    color: #18216D;
    line-height: 30px;
    margin-bottom: 50px;
}

.carts {
    display: flex;
    text-align: center;
    gap: 80px;
}

.cart {
    max-width: 320px;
    margin: 0 auto;
}

.cart__img {
    margin-bottom: 15px;
}

.cart__text__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #18216D;
    margin-bottom: 14px;
}

.cart__text__desc {
    font-size: 16px;
    font-weight: 400;
}


/* service content */


.service__content {
    background-color: #e1edff;
}

.service__content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.service__content__text {
    max-width: 471px;
}

.service__content__text__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    color: #18216D;
    margin-bottom: 15px;
}

.service__content__text__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #18216D;
    margin-bottom: 40px;
}

.service__content__text__button {
    width: 160px;
    height: 52px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    border-radius: 6px;
    background-color: #005FEC;
}

/* user content */



.users__content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px auto;
}

.users__content__img {
    width: 600px;
    height: 600px;
}

.users__content__text {
    max-width: 460px;
}

.users__content__text__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    color: #18216D;
    margin-bottom: 16px;
}

.users__content__text__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #18216D;
    margin-bottom: 30px;
}

.user__chack__cart {
    margin-bottom: 50px;
}

.users__content__text__chek__boks {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.users__content__text__chek__boks img {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
}

.users__content__text__chek__boks__desc {
    font-size: 18px;
    font-weight: 500;
    color: #18216D;
}

.users__content__text__button {
    width: 164px;
    height: 54px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #005FEC;
}



/* pricing content */



.pricing .container {
    margin: 190px auto;
}

.pricing__text {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.pricing__text__title {
    font-size: 48px;
    font-weight: 600;
    color: #18216D;
    margin-bottom: 20px;
}

.pricing__text__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #18216D;
}

.carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto;
}

.pricing__cart {
    width: 355px;
    height: 590px;
    border: 0.5px solid #6D6D6D;
    border-radius: 10px;
}

.pricing__cart__text__title {
    margin-left: 40px;
    margin-top: 22px;
    text-align: left;
}

.pricing__cart__text__title b {
    font-size: 36px;
    font-size: 600;
    color: #6D6D6D;
}

.pricing__cart__text__title h2 {
    font-size: 24px;
    font-weight: 400;
    color: #18216D;
    margin-bottom: 8px;
}

.pricing__cart__text__title h1 {
    font-size: 36px;
    font-weight: 600;
    color: #18216D;
    margin-bottom: 8px;
}

.certs12 {
    margin-left: 41px;
    margin-top: 40px;
}

.pricing__cart__text__check {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 16px;
}

.pricing__cart__text__desc {
    font-size: 12px;
    font-weight: 400;
    color: #18216D;
}

.pricing__cart__text__button {
    width: 181px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    margin-top: 60px;
    color: #fff;
    background-color: #005FEC;
}



/* fouter block */


.footer {
    margin: 50px 0;
    border-top: 1px solid #18216D;
    padding-top: 50px;
}

.footer .container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

.footer img {
    width: 150px;
    height: 150px;
}

.footer h1 {
    color: #18216D;
    font-size: 22px;
    font-size: 600;
    margin-bottom: 35px;
}

.footer p {
    color: #18216D;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}